.demo {
    width: 100px;
    height: 100px;
    background: grey;
    display: inline-block;
    margin: 10px;
}

.red {
    background: red;
}

.green {
    background: green;
}

.blue {
    background: blue;
}
